
body{
    color:rgb(0, 0, 0);
    text-align:justify;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 50px;
    background-color: rgb(116, 116, 53);
    margin: 20px;
}

h1{
    font-size: 35px;
    background-color: rgb(156, 156, 13);
}

h2{
    font-size: 25px;
    color: blue;
}


h3{
    font-size: 15px;


}


