body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align:justify;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    width: 900px;
}

h1 {
    text-align: center;
}

.verde {
    color: rgb(19, 104, 32);
}

.amarillo{
    color: rgb(172, 130, 54);
}


h1 span {
    color: brown;
}

h2 {
    color: green;
    border-bottom: rgb(73, 88, 12) 1px solid;
}

h3 {
    color: rgb(233, 96, 47)
}

div.wrapper{
    overflow: hidden;
}

ul{
    list-style: none;
}

div.marco {
    border: lightgray 1px solid;
    margin: 10px;
    margin-left: 150px;
    margin-right: 5px;
    padding: 7px;
}

div.selector {
    float: left;
    margin-top: 20px;

}

.btn{
    width: 100px;
    height: 30px;
    border: 0px; 
    margin: 2px;
    background-color:#bbda6f;
}

