body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align:justify;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
}

h1 {
    color: darkgreen;
    text-align: center;
}

.verde{
    color: rgb(30, 37, 31);
    }

.amarillo{
    color: rgb(172, 130, 54);
}


h1 span {
    color: brown;
}

h2 {
    color: green;
    border-bottom: rgb(73, 88, 12) 1px solid;
}

h3 {
    color: rgb(233, 96, 47)
}

div.marco {
    border: lightgray 1px solid;
}

